.arrow-icon {
    transition: transform 0.3s ease;
}

.rotate-up {
    transform: rotate(180deg);
}

.rotate-down {
    transform: rotate(0deg);
}

.answer-container {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.answer-container.open {
    max-height: 300px;
}

.answer-container.closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
}