backend/.env
frontend/asto-quantum/.env
frontend/astro-quantum/.env
frontend/astro-quantum/.env
backend/UsersvivekAppDataRoamingnpm-cache/
frontend/astro-quantum/UsersvivekAppDataRoamingnpm-cache/
frontend/astro-quantum/.env
UsersvivekAppDataRoamingnpm-cache/*
frontend/astro-quantum/.env
*.txt